* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  margin-top:200px;
}

header {
  background-color: coral;
  padding:40px;
  color: white;
  position: fixed;
  top:10px;
  width:94%;
}

header h1 {
  display: inline;
  float:left;
}

nav {
  display: inline;
  position: absolute;
  right:20px;
}

nav ul li {
  display: inline;
  font-size: 24px;
  margin-right:24px;
}

a {
  color: darkred;
  text-decoration: none;
}

a:hover{
  color: red;
}

section {
  border:2px solid lightseagreen;
  padding:40px;
  margin:20px auto;
}

.blue-text{
  color: lightskyblue;
}

